{{define "about"}}
<section class="article">
  <article>
    <header>
      <hgroup>
        <h1>About</h1>
      </hgroup>
    </header>
    <section class="content">
      <p>This is my about page.</p>
    </section>
    <footer>
      Social Media | #Comments
    </footer>
  </article>
</section>
{{end}}
