{{define "home"}}
    {{range $a := .Articles}}
<section class="article-list">
  <article>
    <header>
      <hgroup>
        <h1><a href="/{{$a.Slug}}">{{$a.Title}}</a></h1>
        <time datetime="{{$a.Created}}">{{ts $a.Created}}</time>
      </hgroup>
    </header>
    <section class="content">
      {{$a.Content}}
    </section>
    <footer>
      Social Media | #Comments
    </footer>
  </article>
</section>
    {{end}}
{{end}}
